#Store_Sales - Time_Series_Forecasting

## Loading the dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Change the directory
%cd /content/drive/MyDrive/Store_Sales_Time_Series_Forecasting

/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting

## Import Panda

In [ ]:
import pandas as pd

In [ ]:
df_store = pd.read_csv("/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting/datasets/stores.csv")

In [ ]:
df_store.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [ ]:
df_holiday = pd.read_csv("/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting/datasets/holidays_events.csv")
df_holiday.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [ ]:
df_oil = pd.read_csv("/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting/datasets/oil.csv")
df_oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [ ]:
df_test = pd.read_csv("/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting/datasets/test.csv")
df_test.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [ ]:
df_train = pd.read_csv("/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting/datasets/train.csv")
df_train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [ ]:
df_transaction = pd.read_csv("/content/drive/MyDrive/Store_Sales_Time_Series_Forecasting/datasets/transactions.csv")
df_transaction.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922